.btn{
    @apply flex justify-center items-center py-2 px-5  text-sm font-medium text-gray-900 focus:outline-none bg-white  border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700;

    &.primary{
        @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300  dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800
    }
    &.light{
        @apply text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200  dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700;
    }
    &.success{
        @apply focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800;
    }
    &.warn{
        @apply focus:outline-none text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300  dark:focus:ring-yellow-900;
    }
    &.error{
        @apply focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900;
    }
    &.no-border{
        @apply border-none;
    }
    svg{
        @apply h-5 w-5;
    }

    &.sm{
        @apply py-1.5;
        svg{
            @apply h-4 w-4;  
        }
    }
    &.tini{
        @apply py-1; 
    }
    &.xsm{
        @apply py-0 px-2;  
        svg{
            @apply h-3 w-3;  
        }
    }
}




.btn-primary {
    @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 
     dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800;
}

.show-btn {
    @apply text-red-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none
    focus:ring-red-300 font-medium rounded-lg text-sm px-3 py-1 m-[1px] text-center dark:border-red-500 dark:text-red-500
     dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900;
}

.edit-btn {
    @apply text-red-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none
    focus:ring-red-300 font-medium rounded-lg text-sm px-3 py-1 m-[1px] text-center dark:border-green-50 dark:text-white
     dark:hover:text-white dark:hover:bg-blue-600 dark:focus:ring-red-900;

    &:hover {
        @apply bg-blue-700;
        svg {
            @apply text-yellow-100;
        }
    }
}
.remove-btn,
.edit-btn,
.show-btn {
    @apply cursor-pointer;
    svg {
        width: 18px;
        height: 18px;
    }
}
.remove-btn {
    @apply text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none
    focus:ring-red-300 font-medium rounded-lg text-sm px-3 py-1 m-[1px] text-center dark:border-red-500 dark:text-red-500
     dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900;
    svg {
        @apply text-orange-500 dark:text-yellow-200;
    }
    &:hover {
        svg {
            @apply text-yellow-200 dark:text-yellow-200;
        }
    }
}

.add-btn {
    @apply flex justify-between items-center cursor-pointer px-2 py-1.5 mx-2 bg-fuchsia-900 text-white focus:ring-2 focus:ring-fuchsia-300;
}

.list-btn {
    @apply flex justify-between items-center cursor-pointer px-2 py-1.5 mx-2 bg-blue-700 text-white focus:ring-2 focus:ring-fuchsia-300;
}

.add-btn,
.list-btn {
    svg {
        @apply w-5 h-5 mx-3 text-white dark:text-white;
    }
}
